*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}


body{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #334155
    );

}


.container{

    width:100%;

    display:flex;

    justify-content:center;

    padding:20px;

}


.password-box{

    width:430px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,.3);

}


.header{

    text-align:center;

    margin-bottom:25px;

}


.key-icon{

    font-size:50px;

    color:#2563eb;

    margin-bottom:15px;

}


.header h1{

    color:#0f172a;

}


.header p{

    color:#64748b;

    margin-top:10px;

    line-height:1.5;

}


.input-group{

    position:relative;

    margin-bottom:20px;

}


.input-group i{

    position:absolute;

    left:15px;

    top:50%;

    transform:translateY(-50%);

    color:#64748b;

}


.input-group input{

    width:100%;

    padding:12px 12px 12px 45px;

    border:1px solid #ddd;

    border-radius:8px;

    outline:none;

}


.input-group input:focus{

    border-color:#2563eb;

}


.change-btn{

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    background:#2563eb;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:0.3s;

}


.change-btn:hover{

    background:#1d4ed8;

}


.back-link{

    text-align:center;

    margin-top:20px;

}


.back-link a{

    text-decoration:none;

    color:#2563eb;

    font-weight:600;

}


@media(max-width:500px){

    .password-box{

        width:100%;

        padding:25px;

    }

}