{% extends "admin_base.html" %}

{% block title %}
Edit Category | SHOPA
{% endblock %}

{% block css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/admin_edit_category.css') }}">
{% endblock %}

{% block content %}

<div class="main-container">

    <!-- Header -->

    <div class="page-header">

        <h1>Edit Category</h1>

        <a href="/admin/categories" class="back-btn">

            <i class="fas fa-arrow-left"></i>

            Back

        </a>

    </div>

    <!-- Form Card -->

    <div class="form-card">

        <form method="POST">

            <label>

                Category Name

            </label>

            <input
                type="text"
                name="category_name"
                value="{{ category['category_name'] }}"
                placeholder="Enter Category Name"
                required>

            <button type="submit" class="save-btn">

                <i class="fas fa-save"></i>

                Update Category

            </button>

        </form>

    </div>

</div>

{% endblock %}