{% block css %}
   <link rel="stylesheet"
          href="{{ url_for('static', filename='css/create_new_password.css') }}">
{% endblock %}

{% block content %}

<div class="container">

    <div class="password-box">

        <div class="header">

            <i class="fas fa-key key-icon"></i>

            <h1>Create New Password</h1>

            <p>
                Your new password must be different from your previous password.
            </p>

        </div>


        <form action="/create-new-password" method="POST">


            <div class="input-group">

                <i class="fas fa-lock"></i>

                <input type="password"
                       name="new_password"
                       placeholder="New Password"
                       required>

            </div>


            <div class="input-group">

                <i class="fas fa-lock"></i>

                <input type="password"
                       name="confirm_password"
                       placeholder="Confirm New Password"
                       required>

            </div>


            <button type="submit" class="change-btn">

                Update Password

            </button>


        </form>


        <div class="back-link">

            <a href="/login">
                <i class="fas fa-arrow-left"></i>
                Back to Login
            </a>

        </div>


    </div>

</div>
{% endblock %}