{% block title %}
Forgot Password | SHOPA
{% endblock %}

{% block css %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/forgot_password.css') }}">
{% endblock %}

{% block content %}

<div class="container">

    <div class="forgot-box">

        <div class="header">

            <h1>SHOPA</h1>

            <h2>Forgot Password?</h2>

            <p>
                Enter your registered email address.  
                We will send you a password reset link.
            </p>

        </div>


        <form action="/forgot-password" method="POST">

            <div class="input-group">

                <i class="fas fa-envelope"></i>

                <input type="email"
                       name="email"
                       placeholder="Enter Your Email"
                       required>

            </div>


            <button type="submit" class="reset-btn">

                Send OTP

            </button>

        </form>


        <div class="links">

            <a href="/login">
                <i class="fas fa-arrow-left"></i>
                Back to Login
            </a>

        </div>

    </div>

</div>
{% endblock %}
