<!-- Navbar -->

{% extends "base.html" %}

{% block title %}
Wishlist | SHOPA
{% endblock %}

{% block css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/wishlist.css') }}">
{% endblock %}

{% block content %}

<!-- Back Button -->
<button class="back-btn" onclick="history.back()">⬅ Back</button>

<!-- Wishlist Section -->

<section class="wishlist-section">

    <div class="container">

        <h1>
            <i class="fas fa-heart"></i>
            My Wishlist
        </h1>


        <div class="row">

            {% for item in wishlist_items %}

            <div class="col-md-3">

                <div class="card">

                    <img src="{{ url_for(
                                    'static',
                                    filename='uploads/products/' + item['image']
                                    ) }}">

                    <div class="card-body">

                        <h5>

                            {{ item['product_name'] }}

                        </h5>

                        <p>

                            ₹{{ item['price'] }}

                        </p>

                        <a href="/wishlist/remove/{{ item['id'] }}" class="btn btn-danger">
                        
                            Remove
                        
                        </a>


                    </div>

                </div>

            </div>

            {% endfor %}

        </div>

    </div>

</section>
{% endblock %}
